* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background: #232324;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}
.MuiPaginationItem-page.Mui-selected {
  background-color: rebeccapurple !important;
}
.MuiPaginationItem-page:hover {
  background-color: rgba(0, 0, 0, 0.623) !important;
}

.pagination {
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination ul li div {
  color: white;
}
.pagination ul li button {
  color: white;
}

/* .form-control {
  position: relative;
}

.form-control::after {
  position: absolute;
  content: "Enter user name";
  width: 100%;
  z-index: 100;
  top: 20%;
  left: 48.6%;
  transform: translateX(-22%);
  font-size: 1.2rem;
  font-weight: 700;
  pointer-events: none;
  color: #535353;
  transition: all 400ms ease-in-out;
}

.form-control:focus-within::after {
  transform: translateX(0%);
  left: 0%;
  top: -40%;
  font-size: 0.95rem;
  font-weight: 600;
}
.form-control:active::after {
  transform: translateX(0%);
  left: 0%;
  top: -40%;
  font-size: 0.95rem;
  font-weight: 600;
}
 */
