* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  /*   background: #232324; */
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}
.MuiPaginationItem-page.Mui-selected {
  background-color: rebeccapurple !important;
}
.MuiPaginationItem-page:hover {
  background-color: rgba(0, 0, 0, 0.623) !important;
}

.pagination {
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .pagination ul li div {
  color: white;
}
.pagination ul li button {
  color: white;
} */

.MuiSwitch-colorPrimary.Mui-checked {
  color: #8752cc !important;
}

.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: #8752ccb3 !important;
}
